*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    background-color:  rgba(173, 225, 255, 1);
    
}
.start{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:40vw;
    height:65vh;
    background-color: white;
}

.start ion-icon{
    float: right;
    margin: 1%;
    font-size: 2em;
}

.start img{
width: 30%;
margin-left: 35%;
margin-top: 10%;
}

.start h1{
  font-family: "Julius Sans One";
  margin-left: 35%;
  
}

.start p{
    font-family: "Julius Sans One";
    margin-left: 28%;
    margin-top: 2%;
    font-weight: bold;
}

button{
    display: flex;
 justify-content: center;
 align-items: center; 
 position: relative;   
  text-align: center;
  width:35%;
  height: 10%;
  border: 1px rgb(255, 255, 255);
  border-radius: 8px;
  background-color: black;
  color: aliceblue;
  margin-top: 6%;
  cursor: pointer;
  left: 30%;
  font-family: "Julius Sans One";

  
  
}

button:hover{
background-color: aliceblue;
color: #000000;
font-weight: bolder;
} 